.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	background-color: rgb(53, 81, 92);
	color: white;
	width: 150vh;
	border-radius: 20px;
}

.logoContainer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logo svg {
	width: 24px;
	height: 24px;
	fill: white;
}

.logo {
	font-size: 26px;
	font-weight: bold;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
}

.nav {
	display: flex;
	gap: 10px;
}
